<link rel="stylesheet" href="/static/account/css/reg.css">
<script src="/static/account/css/login.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>

<div id="kc-logo">
    <div id="kc-logo-wrapper"></div>
    </a>
</div>

<div id="kc-container" class="">
    <div id="kc-container-wrapper" class="">
        <div id="kc-container-wrapperrel" class="">

            <div id="kc-header" class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
                <div id="kc-header-wrapper" class="">
                    <div class="kc-logo-text"><span>Keycloak</span></div>
                    <div id="backgroundheaderlogin">test</div>
                </div>
            </div>


            <div id="kc-content" class=" container">
                <div id="kc-content-wrapper" class="row">
                    <div id="kc-form" class="col-xs-12 col-sm-8 col-md-8 col-lg-7 login">
                        <div id="kc-form-wrapper" class="">
                            <div class="animlogin">
                            </div>
                            <form id="kc-form-login" class="form-horizontal" action="#" method="post">
                                {% csrf_token %}



                                <div class="fullwidth">
                                    <label>{{ form.user_name.label }}<span class="text-muted small">
                                            (Required)</span></label>
                                    {{ form.user_name }}

                                </div>


                                <div class="fullwidth">
                                    <label>{{ form.email.label}}<span class="text-muted small">
                                            (Required)</span></label>
                                    {{ form.email }}
                                </div>

                                <div class="fullwidth">
                                    <label>{{ form.password.label}}<span class="text-muted mb-4">
                                        </span></label>
                                    <small class="form-text text-muted mb-4 small">
                                        At least 8 characters and 1 digit
                                    </small>
                                    {{ form.password }}
                                </div>

                                <div class="fullwidth">
                                    <label>{{ form.password2.label}}<span class="text-muted small">
                                            (Required)</span></label>
                                    {{ form.password2 }}
                                </div>
                                <div id="kc-form-options" class="halfwidth">
                                    <div class="forgotpwd ">
                                        <span><a tabindex="5" style="color: rgb(79, 205, 255)">Already have an
                                                account?</a></span>
                                    </div>
                                </div>



                                <div class="form-group" style="margin-bottom: 3%;">
                                    <div id="kc-form-options" class="halfwidth">
                                        <div class="forgotpwd ">
                                            <span><a tabindex="5" style="color: rgb(79, 205, 255)">Back to
                                                    site</a></span>
                                        </div>
                                    </div>


                                </div>

                                <div id="kc-form-buttons" class="halfwidth submit">
                                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100"
                                        type="submit">Register</button>
                                </div>
                        </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>