{% extends "base.html" %}
{% block title %}Music album store & more{% endblock %}
{% block content %}

{% load static %}
    <link rel="stylesheet" href="/static/store/css/about.css">

    <div class="containHeader">
        <div class="headImg"></div>
        <div class="screen"></div>
        <div class="containText">
            <h1>Paradise is your enjoy shop.</h1>
            <h3>There some informaiton about us.</h3>
        </div>
    </div>

    <div class="secOne">
        <div class="containText">
            <div class="textGroup textOne">
                <h2>We are more expensive than the official manufacturers in South Korea.</h2>
                <p>This is because we ourselves buy from official retailers in South Korea with a small margin. We have
                    been working with them for many years, so we solve any issues directly through direct communication.
                </p>
            </div>

            <div class="containImg">
                <div class="frank"></div>
                <div class="name"></div>
            </div>

            <div class="textGroup textTwo">
                <h2>And another very weighty argument in our favor!</h2>

                <p>When you buy from us, you can be 100% sure that the parcel will arrive safe and sound - for this you
                    paid us money and we will fulfill our obligations! But if you suddenly decide to save money, then
                    official retailers have such a fad when
                    ordering that if the package is lost during delivery by regular mail, they are not required to
                    refund the cost of the order. If the contents of the parcel were damaged, you will need to send the
                    parcel back to South Korea for examination
                    at your own expense (this is very expensive) and not the fact that you will be refunded.</p>
            </div>
            <div class="textGroup textThree">
                <h2>We are more expensive than the joint venture (Joint purchases)</h2>
                <p>This is because we work officially and pay taxes. And most importantly, we are responsible for every
                    order we accept! If the joint venture loses your order, they may say "the post office is to blame
                    for everything", then we, as an official
                    store with a good reputation, are obliged to return the entire amount to you or resend the order. We
                    know cases when JVs with large orders simply stopped responding to messages or disappeared - real
                    cases of our clients. So you overpay
                    first of all for a guarantee.
                </p>
            </div>
        </div>
    </div>

    <div class="containAngle">
        <div class="angleImg"></div>
        <div class="screen"></div>
        <h2>Welcome!</h2>
    </div>

    <div class="secTwo">
        <iframe src="https://www.youtube.com/embed/AbjaVxhkoek" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h2>About us</h2>
        <p>Paradise shop is an online store dedicated to offering a variety of tunes to music lovers around the world.
            Our focus is trending Korean Pop (K-Pop) Culture. We are music lovers just like yourselves and we push our
            limits to offer the best in
            Customer satisfaction. Stop by any time you would like and visit us at our flagship store currently located
            in Koreatown in Los Angeles, CA.</p>
    </div>

    <div class="secThree">
        <div class="imgOne"></div>
        <div class="screen"></div>
        <div class="containText">
            <h1>"
                <inline>W</inline>e are very happy to have you cokodivers in our lives and we are so thankful for your
                trust and love and we promise to work even harder to provide yo with more high-quality products that
                will bring joy to your life."
            </h1>
            <p>Paradise team</br>
            </p>
        </div>
    </div>

    <div class="secFour">
        <div class="containText">
            <h2>We are official</h2>
            <p>We work officially, pay taxes and, accordingly, we are fully responsible for all orders received.</p>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    {% endblock %}
