{% extends "base.html" %}
{% block title %}Store - Low Prices in Books & more{% endblock %}
{% block content %}

{#DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT #}
<section class="video-container">
  <video src="media/headerHome.mp4" autoplay loop playsinline muted></video>

</section>


{#DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT  ///////////// DO NOT TOUCH IT #}
<style>
  .video-container {
      max-height: 41rem;
      position: relative;
      overflow: hidden;
  }
  .card-img-top{
    width: 307px; 
    height: 307px;
    object-fit: cover;
  }    
  




  video {
      object-fit: cover; // Set the magic
      position: absolute;
      max-height: 41rem;
      width: 100%;
      top: 0;
      left: 0;
  }

  @media only screen and (max-width: 767px) {
      .main{
          min-height: 5.2rem;
          background: red;
      }
  }
  @media only screen and (max-width: 288px) {
      .main{
          min-height: 7.1rem;
          background: red;
      }
  }
  @media only screen and (max-width: 251px) {
      .main{
          min-height: 10.2rem;
          background: red;
          }
  }
  @media only screen and (max-width: 176px) {
      .main{
          min-height: 13.7rem;
          background: red;
          }
  }

</style>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="media/retro.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">In simple words, vinyl records are simply rotating disks that are used for storing music. 
              Buy vinyls now in our shop
            </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="media/kpop.jpg" alt="Card image cap" >
          <div class="card-body">
            <p class="card-text">Listen to the latest realeses with us! Enjoy the new albums of K-pop! Go to the concerts. You can win the tickets.
              Follow our Instagram
            </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="media/camila.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Watc music clip with us! Just follow our youtube channel. The fastest reactions to your pleasement.
              Everything for you!
            </p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>


<div class="container">
  <div class="container">
    <div class="row">
      <div class="album py-5">
        <div class="pb-3">
          <h1 class="h3">Popular</h1>
        </div>
        {% if not products %}
        <div class="col-12">There are currently no products active</div>
        {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% for product in products %}
          <div class="col">
            <div class="card border-0">
              {% for image in product.product_image.all %}
              {% if image.is_feature%}
              <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}"
                alt="{{ image.image.alt_text }}">
              {% endif %}
              {% endfor %}
              <div class="card-body px-0">
                <p class="card-text">
                  <a class="text-dark text-decoration-none"
                    href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                </p>
                <div class="fw-bold">${{product.regular_price}}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% endblock %}